@import '../../styles/colors';
@import '../../styles/fonts';

@mixin flex-container($direction: row, $justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.create__main__container {
    background-color: $primary;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    @include flex-container(column, center, center);

    &>div:nth-child(1) {
        width: 90%;
        gap: 1rem;

        &>p {
            font-family: $poppins-sans;
            font-size: 1.2rem;
            font-weight: 600;
            text-align: center;
            color: floralwhite;
        }

        &>div {
            width: 100%;
            justify-content: center;
            gap: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}

.create__main__container__inputs {
    width: 100%;
    flex: 1;
    @include flex-container(column, flex-start, center);

    &>input {
        background-color: inherit;
        border: 0;
        border-bottom: 1px solid $light;
        padding: 1rem 0.8rem;
        width: 75%;
        font-weight: 400;
        color: floralwhite;
        font-size: 0.9rem;

        &:focus {
            outline: none;
            // border-bottom: 1px;
        }
    }

    &>button {
        background-color: $action;
        border: 1px solid $light;
        margin-top: 1rem;
        padding: 0.5rem 0;
        font-family: $poppins-sans;
        width: 40%;
        border-radius: 0.5rem;
        font-weight: 500;
        font-size: 1rem;
    }
}

.image__container {
    width: 100%;
    flex: 1;
    @include flex-container(column, center, center);

    &>img {
        width: 8rem;
        height: 8rem;
    }
}